.ant-dropdown {
  top: 60px !important;

  .ant-dropdown-menu {
    padding: 20px;
  }

  .ant-dropdown-menu-item {
    padding: 7px 20px;
    font-size: 13px;
    // color: rgba(76, 197, 205, 1);
    color: #333333;
    line-height: 18px;

    &-active {
      background-color: #f5f8fa;
      color: $main-color;
    }
  }
}

.ant-calendar-disabled-cell {
  .ant-calendar-date {
    color: rgba(0, 0, 0, 0.25);
    background: #f5f5f5;

    &::before {
      border: 1px solid rgba(0, 0, 0, 0.25) !important;
    }
  }
}

//公用菜单栏 头部
.page {
  &-wrapper {
    @include wh;
    display: flex;
    align-items: stretch;
  }

  &-menu {
    transition: all 0.3s;
    background-color: $main-color;
    flex: 0 0 auto;
    width: 240px;
    height: 100%;
    position: relative;

    &--close {
      width: 100px;
    }

    &-circle {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: white;
      position: absolute;
      right: -14px;
      top: 80px;
      box-shadow: 1px 2px 12px 0px rgba(117, 128, 132, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 200;

      span {
        font-size: 28px;
      }
    }

    &-top {
      text-align: center;
      @include fx(center, center);
      padding: 30px 0;
      background-color: $main-color;

      &__logo {
        width: 20px;
        height: auto;
        margin-right: 14px;
      }

      &__title {
        font-weight: 500;
        font-size: 20px;
        color: #ffffff;
      }
    }

    .menu-block {
      padding: 0 20px;
      border: none;
      background-color: transparent;

      .ant-menu {
        background-color: transparent;
      }

      .ant-menu-sub {
        padding-left: 12px;
      }

      .sp_menu-item {
        margin-bottom: 5x;
      }

      .ant-menu-item,
      .ant-menu-submenu-title {
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
        font-weight: 400;
        opacity: 0.8;

        .iconfont {
          padding-right: 21px;
          font-size: 18px;
        }

        .ant-menu-submenu-arrow {
          &::before,
          &::after {
            background: #fff;
          }
        }
      }

      .ant-menu-item:hover,
      .ant-menu-item-active,
      .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
      .ant-menu-submenu-active,
      .ant-menu-submenu-title:hover {
        opacity: 1;
        color: rgba(255, 255, 255, 1);

        .ant-menu-submenu-arrow {
          &::before,
          &::after {
            background: #fff;
          }
        }
      }

      .ant-menu-item-selected,
      .ant-menu-item:active,
      .ant-menu-submenu-title:active {
        border-radius: 4px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
      }

      .ant-menu-item-selected:after {
        opacity: 0;
      }
    }
  }

  &-right {
    width: calc(100% - 240px);
    background: #f3f3f4;
    height: 100%;
    flex: 1 1 auto;
    overflow: hidden;
    overflow-y: auto;

    &__top {
      padding: 20px 30px;
      height: 60px;
      background-color: #fff;
      margin-bottom: 10px;
      @include fx(space-between, center);

      .top {
        &-project {
          font-size: 16px;
          font-weight: 400;
          color: #19223b;
        }

        &-info {
          @include fx(flex-start, center);

          &__img {
            width: 30px;
            height: 30px;
          }

          &__user {
            font-size: 14px;
            font-weight: 500;
            color: #464b56;
            padding: 0 40px 0 15px;
          }

          .iconexit {
            cursor: pointer;
            color: $main-color;
          }
        }
      }
    }

    &__main {
      height: calc(100% - 70px);
    }
  }

  &-exit {
    &__row {
      @include fx(flex-start, center);
    }

    .ant-dropdown-menu-item {
      background-color: #fff;
    }

    .iconfont {
      font-size: 20px;
      padding-right: 15px;
    }
  }
}

//公用样式
.commom {
  &-title {
    font-size: 24px;
    font-weight: 500;
    color: #333536;
    padding-bottom: 50px;
  }

  &-search {
    @include fx(space-between, center);

    &-left {
      @include fx(flex-start, center);
    }
  }

  &-input-280 {
    width: 280px;
    height: 38px;
    margin-right: 12px;
  }

  &-select-160 {
    width: 160px;
    margin-right: 12px;

    .ant-select-selection--single {
      height: 38px;

      .ant-select-selection__rendered {
        margin-top: 5px;
      }
    }
  }

  &-btn {
    &-primary {
      width: 80px;
      height: 38px;
    }
  }

  &-table {
    padding-top: 30px;
  }
}

#App {
  @include wh();
}
