@mixin wh($w: 100%, $h: 100%) {
  width: $w;
  height: $h;
}

@mixin fx($w: space-between, $v: center) {
  display: flex;
  justify-content: $w;
  align-items: $v;
}

@mixin fx($w: space-between, $v: center) {
  display: flex;
  justify-content: $w;
  align-items: $v;
}

$main-color: #b51934;
